// Define variables for your color scheme

// For example:
$red: #bc0d10;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #ec9454;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$light-darker-gray: #521e1e;
$violet: #4627de;
