.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  font-family: Arial, sans-serif;
}

.content {
  padding: 0 10px;
}

form {
  // display: flex;
  // flex-direction: row;
  align-items: center;
  margin: 0 25%
}

input, button[type="submit"] {
  margin-bottom: 10px;
  // padding: 10px 0 10px 20px;
  // border: 5px solid rgba(0, 0, 0, 0.3);
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.3);
  color: #ffffff;
}

.custom-link {
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.3);
  display: inline-block;
  border-radius: 10px;
  transition: box-shadow 0.3s ease; /* Add transition to the box-shadow property */
}

.custom-link:hover {
  box-shadow: none; /* Remove the box shadow on hover */
  filter: invert(1); /* Invert the colors (black to white) on hover */
}


input:hover, button[type="submit"]:hover {
  box-shadow: none; /* Remove the box shadow on hover */
}

h1, h4 {
  text-align: center; /* Center-align text within h1 and h4 */
  // font-size: 1em;
  // box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.5);
  // display: inline-block;
  // border-radius: 10px;
}

h1 {
  font-size: 54px;
}

@media (max-width: 768px) {
  .gradient-background {
    margin: 0;
  }

  .content {
    margin: 0 20px;
  }

  h1 {
    font-size: 36px;
  }

  form {
    flex-direction: column;
    margin: 0 10%
  }

  input {
    margin-bottom: 10px;
    padding: 10px 0 10px 20px;
    border: 5px solid rgba(0, 0, 0, 0.3);
    box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.3);
    color: #ffffff;
    border-radius: 50px;
  }
}

h4 {
  margin-top: 40px;
}

.card-width {
  min-width: 300px
}

.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.secondary {
  margin-top: 50px;
}

.gradient-background {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(62deg, #00DBDE, #3c6ae7, #7c23d5, #FC00FF);
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
}
@-webkit-keyframes gradient{
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
     background-position: 0% 50%;
  }
}
@keyframes gradient{
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
     background-position: 0% 50%;
  }
}

.flash {
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: 4px;
  margin: 8px;
}

.flash-success {
  border: 2px solid #1EDD88;
}

.flash-warning {
  border: 2px solid #FFC65A;
}

.flash-danger {
  border: 2px solid #FD1015;
}
