<% content_for :title, "#{@blog_post.title} - Blog" %>
<% content_for :meta_description, truncate(strip_tags(@blog_post.content), length: 200) %>


<main class="container py-5 mt-5">
  <div>
    <%= render 'shared/back' %>
    <h1 class="fw-bold text-center m-0 bigger"><%= @blog_post.title %></h1>
    <p class="text-center px-3"><%= markdown(@blog_post.content) %></p>
  </div>
</main>
