<div class="container mt-5">
  <div class="d-flex justify-content-center socials mb-5 bg-transparent">
    <div class="row">
      <div class="col-6"> <!-- Adjust column width as needed -->
        <a href="https://www.linkedin.com/company/newsjack" target="_blank" class="custom-link">
          <%= image_tag "linkedin.png", alt: "LinkedIn", class: "lighter-opacity" %>
        </a>
      </div>
      <div class="col-6"> <!-- Adjust column width as needed -->
        <a href="https://twitter.com/newsjackdotme" target="_blank" class="custom-link">
          <%= image_tag "twitter.png", alt: "Twitter", class: "lighter-opacity" %>
        </a>
      </div>
    </div>
  </div>
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="/" class="nav-link px-2">Home</a></li>
      <li class="nav-item"><a href="/resources" class="nav-link px-2">Resources</a></li>
      <%# <li class="nav-item"><a href="#" class="nav-link px-2">Pricing</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2">About</a></li> %>
    </ul>
    <p class="text-center fs-6">&copy; 2023 NewsJack, Inc.</p>
  </footer>
</div>
