<div class="sticky-top">
  <div class="position-absolute top-0 start-0">
    <a href="/">
      <%= image_tag 'favicon2.svg', width: 100, height: 100, class: 'svg-image' %>
    </a>
  </div>
  <div class="position-absolute top-0 end-0 mt-3 me-3">
    <a href="#calendly" class="btn btn-secondary bg-secondary text-white px-3 py-2 w-full custom-link rounded-4 border border-secondary demo">Book free demo</a>
  </div>
</div>
