<%# <%= render partial: 'shared/navbar' %>
<div class="gradient-background page">
  <div class="content">
    <h1 class="text-white mb-5 mx-5 fw-medium">Get viral from newsjacking</h1>
    <form action="" method="post">
      <input type="email" name="" id="" placeholder="Your email" class="form-control">
      <button type="submit" class="btn btn-primary badge">Join waitlist</button>
    </form>

  </div>
  <div class="secondary">
    <h4 class="mb-5 mx-5 fw-medium fs-5 text-white-50">Trusted by the world’s leading brands (not there yet)</h4>
  </div>

</div>
<%# <div class="page">
  <div class="content">
      <h1 class="text-white mb-5 mx-5 fw-medium"><strong>See how we do it</strong></h1>
  </div>
</div> %>
