<% content_for :title, "#{@resource.title} - Blog" %>
<% truncated_content = truncate(strip_tags(@resource.content), length: 200) %>
<% content_for :meta_description, markdown(truncated_content) %>


<main class="container py-5 mt-5">
  <div class="row">
    <div class="col-12">
      <%= render 'shared/back' %>
    </div>
  </div>
  <div class="py-5 mt-5 px-3">
    <h1 class="fw-bold text-center m-0 bigger"><%= @resource.title %></h1>
    <p class="text-center px-3"><%= markdown(@resource.content) %></p>
  </div>
</main>
